

.start-cmd {
    display: inline;
}

div.cmd {
    position: absolute;
    background-color: white;
    width: 15em;
    border: solid black thin;
    min-height: 5em;
    padding: 0.5em;
}

div.streampeeker {
    position: absolute;
    background-color: white;
    border: solid red thin;
}

.streampeeker.collapsed {
    width: 3em;
    height: 3em;
}

.streampeeker.open {
    width: 15em;
    min-height: 5em;
}

/* input prompt */

div#prompt {
    position: absolute;
    font-family: monospace;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5em 1em;
    background-color: black;
    color: white;
    font-size: 2em;
}

div#prompt input {
    border: 0;
    background-color: black;
    color: white;
    position: absolute;
    left: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: monospace;
    font-size: 1em;
}
