/*
// Copyright © 2013 Hraban Luyat <hraban@0brg.net>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to
// deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
// sell copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
// IN THE SOFTWARE.
*/

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    margin-top: 20em;
}

.start-cmd {
    display: inline;
}

.hidden {
    display: none;
}

/* Command container div constrains the positioning of all root commands so
 * must be sized appropriately */
div#cmds {
    position: absolute;
    left: 506px; /* .terminalwrap.width + some */
    bottom: 212px;
    top: 6px;
    width: 5000px; /* how do you stretch width to contents, past viewport? */
}


/* root is positioned absolute in the document */
div.rootcontainer {
    width: 200px;
    height: 100%;
    border-right: solid thin #446;
    float: left;
    padding: 2px;
    background-color: #d3d3cf;
}

div.rootcontainer:empty,
div.rootcontainer.archived {
    display: none;
}
/* children are positioned relative within root */
div.groupwidget {
    position: relative;
}

div.cmdwidget {
    background-color: white;
    border: solid black thin;
    padding: 0.5em;
    font-size: 10pt;
}

div.cmdwidget.selected {
    background-color: rgb(255, 206, 187);
}

div.cmdwidget button.close {
    font-size: 9pt;
    float: right;
}

/* terminal window */
.terminalwrap1 {
    position: absolute;
    left: 6px;
    top: 6px;
    bottom: 212px;
    width: 494px;
}
.terminalwrap2 {
    position: relative;
    width: 100%;
    height: 100%;
}
.termdraghandle {
    position: absolute;
    right: .3em;
    top: .3em;
    z-index: 10;
}
.terminal {
    width: 100%;
    height: 100%;
}

/*
 * HISTORY
 */

#history ul {
    font-family: monospace;
    list-style: none;
    padding: 0.2em;
    margin: 0;
}

/* unarchived history entry */
#history li {
    padding: .1em 0;
}
#history li .name {
    color: #000;
    text-decoration: underline;
}

/* archived history entry */
#history li.archived {
    padding: 0 0.3em;
    font-size: 7pt;
}
#history li.archived .name {
    color: #bbb;
    text-decoration: none;
}

/* only show entries for root commands */
#history li.child {
    display: none;
}

#history.hide_archived li.archived {
    display: none;
}

/* hide template nodes intended for cloning */
[id$="_template"] {
    display: none !important;
}

/*
 * PATH
 */

#path {
    width: 600px;
    overflow: auto;
}

#path ol {
    list-style-type: none;
    padding: 0;
}

#path ol li {
    margin-top: .5em;
}

.bookmark {
    display: inline-block;
}


/*
 * COMMAND DETAIL AREA
 */

#cmddetailarea {
    position: absolute;
    bottom: 6px;
    height: 200px;
    left: 268px;
    right: 6px;
    overflow: auto;
}


/* Holy schmoly jquery ui tabs are big.. */
.ui-tabs-nav {
    font-size: 10pt;
    border-radius: 0;
    background: 0;
}
.ui-tabs .ui-tabs-nav li a {
    padding: .1em .2em;
}


/*
 * UI-BLOCKING "PAGE LOADING" MODAL
 */

#loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.85);
    z-index: 100;
}

#loading div {
    height: 100%;
    width: 100%;
}

#loading p {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    color: #500;
}

/* not a modal to allow access to UI (user knows best) */
#connection_error {
    position: absolute;
    bottom: 2em;
    text-align: center;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    color: #500;
    background-color: rgba(100, 100, 100, 0.85);
}

/* hide status messages for statuses other than the active one */
body:not([data-status=loading]) #loading,
body:not([data-status=connection_error]) #connection_error {
    display: none;
}

/*
 * GLOBAL CONFIGURATION SIDEPANE
 */

div#sidepane {
    position: absolute;
    bottom: 6px;
    height: 200px;
    left: 6px;
    width: 256px;
}

#config {
    padding: .2em;
}

#config h1 a {
    color: #000;
}
