{{/*
// Copyright © 2013 Hraban Luyat <hraban@0brg.net>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to
// deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
// sell copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
// IN THE SOFTWARE.
*/}}

{{define "cmd"}}<!doctype html>
<html>
<head>
    <title>lush cmd {{.Cmd.Id}} - Luyat shell</title>

<link type="text/css" rel="stylesheet" href="/css/base.css">

</head>
<body>

<p><b><a href="/">lush</a></b></p>

<h1>info</h1>
<div id="cmd{{.Cmd.Id}}">
{{.Cmd.Id}}:
<tt>{{range .Cmd.Argv}}{{.}} {{end}}</tt>
{{if .Cmd.Status.Exited}}
    {{if .Cmd.Status.Success}}
        ✓
    {{else}}
        ✗
    {{end}}
{{else}}
    {{if .Cmd.Status.Started}}
        ⌚
    {{else}}
        <form method=post action="/{{.Cmd.Id}}/start" class="start-cmd">
            <button>start</button>
        </form>
    {{end}}
{{end}}
</div>

{{with .Cmd.Status.Started}}
<p>started: {{.}}</p>
{{end}}

{{if .Cmd.Status.Exited}}
<p>exited: {{.Cmd.Status.Exited}}</p>
{{with .Cmd.Status.Err}}
<h2>exit status</h2>
<p>{{.Error}}</p>
{{end}}
{{end}}

<h1>I/O</h1>

{{if .Cmd.Status.Started}}
{{if not .Cmd.Status.Exited}}
<h2>stdin</h2>
<form action="send" method="post">
<input type="hidden" name="stream" value="stdin">
<textarea name="data" cols="80" rows="10" wrap="soft"></textarea>
<br>
<button>send</button>
</form>
<form action="close" method="post">
<input type="hidden" name="stream" value="stdin">
<button>EOF</button>
</form>
{{end}}
{{end}}

<h2>stdout</h2>
{{if .Cmd.Status.Started}}
<pre class=monitor-stream data-stream=stdout data-id={{.Cmd.Id}}>{{.Stdout}}</pre>
{{else}}
<form action="connect" method="post">
<input type="hidden" name="stream" value="stdout">
connect to:
<select name="to">
    {{range .Connectables}}
    <option value="{{.Id}}">{{.Id}}: {{.Name}}</option>
    {{end}}
</select>
<br>
<button>go</button>
</form>
{{end}}

<h2>stderr</h2>
<pre class=monitor-stream data-stream=stderr data-id={{.Cmd.Id}}>{{.Stderr}}</pre>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/cmd.js"></script>
</body>
</html>
{{end}}
