{{define "cmd"}}<!doctype html>
<html>
<head>
    <title>lush cmd {{.Cmd.Id}} - Luyat shell</title>

<style>

.start-btn {
    display: inline;
}

</style>

</head>
<body>

<h1>info</h1>
<div class="cmd" id="cmd{{.Cmd.Id}}">
{{.Cmd.Id}}:
<tt>{{range .Cmd.Argv}}{{.}} {{end}}</tt>
{{if .Cmd.Status.Exited}}
    {{if .Cmd.Status.Success}}
        ✓
    {{else}}
        ✗
    {{end}}
{{else}}
    {{if .Cmd.Status.Started}}
        ⌚
    {{else}}
        <form method=post action="/{{.Cmd.Id}}/start" class="start-btn">
            <button>start</button>
        </form>
    {{end}}
{{end}}
</div>

{{if .Cmd.Status.Exited}}
{{with .Cmd.Status.Err}}
<h1>exit status</h1>
<p>{{.Error}}</p>
{{end}}
{{end}}

<h1>I/O</h1>

{{if .Cmd.Status.Started}}
{{if not .Cmd.Status.Exited}}
<h2>stdin</h2>
<form action="send" method="post">
<input type="hidden" name="stream" value="stdin">
<textarea name="data" cols="80" rows="10" wrap="soft"></textarea>
<br>
<button>send</button>
</form>
{{end}}
{{end}}

<h2>stdout</h2>
<pre>{{.Stdout}}</pre>

<h2>stderr</h2>
<pre>{{.Stderr}}</pre>

</body>
</html>
{{end}}
