{{/*
// Copyright © 2013, 2014 Hraban Luyat <hraban@0brg.net>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to
// deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
// sell copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
// IN THE SOFTWARE.
*/}}

{{define "/"}}<!doctype html>
<html>
<head>
    <title>lush - Luyat shell</title>

<link rel="shortcut icon" href="/gnome-terminal.png">
<link rel=stylesheet href=/css/smoothness/jquery-ui-1.10.2.min.css>
<link rel=stylesheet href=/css/jquery.terminal.css>
<link type="text/css" rel="stylesheet" href="/css/base.css">
<script src="/js/ext/require.js"></script>
<script src="/js/lush.js"></script>

</head>
<body data-status=loading>


<div id=sidepane>
  <ul>
    <li><a href="#history">history</a></li>
    <li><a href="#config">config</a></li>
  </ul>
  <div id=history>
    <ul ></ul>
  </div>
  <div id=config>
    <strong>global config</strong><br>
    <button id=newcmd>new command</button>
    <p>Path: <a data-toggle-class="hidden"  href="#pathcontainer">(toggle)</a>
    <div id=pathcontainer class=hidden>
      <form id=path>
      <ol class="sortable"></ol>
      </form>
    </div>
    <a href=# id=delete_archived>Delete all archived commands</a>
    <p><a href=#history data-toggle-class=hide_archived >show / hide archived history</a>
  </div>
</div>

<div id=cmddetailarea>

  <ul>
    <li><a href="#cmdedit">edit</a></li>
    <li><a href="#cmdstdout">stdout</a></li>
    <li><a href="#cmdstderr">stderr</a></li>
    <li><a href="#cmdhelp">help</a></li>
  </ul>

  <div id=cmdedit>
    <form>
     name <input name=cmd><br>
     args:
       <input size=10 name=arg1>
       <br>
     <button>save</button>
     <button class=cancelbtn type=button>cancel</button>

    <h2>Configuration</h2>
    <p>stdout scrollback: <input size=4 name=stdoutScrollback value=1000> bytes<br>
    stderr scrollback: <input size=4 name=stderrScrollback value=1000> bytes
    </form>
  </div>

  <div id=cmdstdout>
    <select></select>
    <pre class=streamdata></pre>
  </div>

  <div id=cmdstderr>
    <select></select>
    <pre class=streamdata></pre>
  </div>

  <div id=cmdhelp>
  </div>

</div>

<div class=terminalwrap1>
  <div class=terminalwrap2>
    <div class=terminal ></div>
  </div>
</div>


<div id="cmds"></div>


<!-- HTML template for a command widget -->
<div id=rootcontainer_template class=rootcontainer>
<button class=archivegroup>_</button>
<div id=groupwidget class=groupwidget>

  <div  class='cmdwidget'>
    <button class=close>×</button>
    <a class=link>
      <span class=linktext></span>
      <tt class=argv></tt>
    </a>
    <span class=status></span>
    <a class='ui-icon ui-icon-link bookmark'
       title='link to bookmark this command'></a>
    <button class=repeat>↻</button>
  </div> <!-- /.cmdwidget -->

  <div class=children></div>

</div>
</div> <!-- /#rootcontainer_template -->

<p id=connection_error> connection error, please reload the page</p>

<div id=loading>
    <div id=hahaha><div id=youmustthink><div id=thatIcare><div id=aboutthemarkup><div id=exlamationmarks><div id=hahahahahah><div id=WELLIDONT><div id=SOYOUCANSUCKIT><div id=CSS><div id=yeahthatsright><div id=exclamationmark><div id=youcenteralignedvertically><div id=soIwin><div id=youthought><div id=thatjustbecauseyIhadtouseanextrawrappingdiv><div id=youwin><div id=questionmark><div id=HA><div id=thatdontevenphaseme><div id=bro><div id=wrappingdivs><div id=Ishitwrappingdivs><div id=andthenIpackagethem><div id=andsendthemtotheW3C><div style=" display: table" >
    <p>loading, please wait...</p>

</dealwithit>


<script>
// Project-wide globals in one object. Always refer to this object and the
// elements within it by full name for easy greping. Initialization of this
// object should be done in one place (function), all together, no rewriting
// later.
// TODO: (Assert)Exception if get before set
// TODO: (Assert)Exception if set unknown key
var globals = {
    // websocket connection for control events
    ctrl: undefined,
    // (shell-sessionlocal) ID of this client
    moi: undefined,
};

// object containing running command metadata: key is system id, value is cmd
// object
// TODO: Should be in globals
var cmds = {};

var cmds_init = {
{{range .}}
{{.Id}}: {{.Metadata}},
{{end}}
};
</script>
<script>
requirejs(["lush/main"]);
</script>
</body>
</html>
{{end}}
