{{define "/"}}<!doctype html>
<html>
<head>
    <title>lush - Luyat shell</title>
</head>
<body>
{{with .}}
<ol style='list-style: none;'>
{{range .}}
<li><form method=post action="/{{.Id}}/start">{{.Id}}:
    <tt>{{range .Argv}}{{.}} {{end}}</tt>
    {{if .Status.Exited}}
        {{if .Status.Success}}
            ✓
        {{else}}
            ✗
        {{end}}
    {{else}}
        {{if .Status.Started}}
            ⌚
        {{else}}
            <button>start</button>
        {{end}}
    {{end}}
</form></li>
{{end}}
</ol>
{{else}}
<p>No active commands
{{end}}
<h1>New command</h1>
<p><form method=post action=/new>
 name <input name=name><br>
 args:
   <input size=10 name=arg1>
   <input size=10 name=arg2>
   <input size=10 name=arg3><br>
 <button>prepare</button>
 </form>
<h1>misc</h1>
<p><form method=post action=/1234/start><button>test starting fake id</form>
</body>
</html>
{{end}}
