{{/*
// Copyright © 2013 Hraban Luyat <hraban@0brg.net>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to
// deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
// sell copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
// IN THE SOFTWARE.
*/}}

{{define "/"}}<!doctype html>
<html>
<head>
    <title>lush - Luyat shell</title>

<link rel="shortcut icon" href="/gnome-terminal.png">
<link rel=stylesheet href=/css/smoothness/jquery-ui-1.10.2.min.css>
<link rel=stylesheet href=/css/jquery.terminal.css>
<link type="text/css" rel="stylesheet" href="/css/base.css">

</head>
<body>

<p><b><a href="/">lush</a></b></p>

<div id="cmds"></div>

<button id=newcmd>new command</button>

<!-- HTML template for a "new command" widget -->
<div id=newcmd_template class=cmdwidget>
<form>
<h1>New command</h1>
 name <input name=cmd><br>
 args:
   <input size=10 name=arg1>
   <input size=10 name=arg2>
   <input size=10 name=arg3><br>
 <button>prepare</button>

<h2>Configuration</h2>
<p>stdout scrollback: <input size=4 name=stdoutScrollback value=1000> bytes<br>
stderr scrollback: <input size=4 name=stderrScrollback value=1000> bytes
<p>
start immediately: <input type=checkbox name=autostart><br>
archive when done: <input type=checkbox name=autoarchive><br>
 </form>
</div>
<!-- /newcmd_template -->

<p>Path:
<form id=path>
</form>

<div id=groups>
<h1>Groups</h1>
<ul ></ul>
</div>


<script>
// object containing running command metadata: key is system id, value is cmd
// object
var cmds = {
{{range .}}
{{.Id}}: {{.Metadata}},
{{end}}
};
</script>
<script src="/js/ext/jquery-1.9.1.min.js"></script>
<script src="/js/ext/jquery-ui-1.10.2.min.js"></script>
<script src="/js/ext/jquery.jsPlumb-1.3.16-all-min.js"></script>
<script src="/js/ext/jquery.terminal-0.6.3.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/terminal.js"></script>
<script src="/js/root.js"></script>
</body>
</html>
{{end}}
